<!-- tailwind form registration -->
<form [formGroup]="registerForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
      <mat-card-subtitle>Fill in the form below to register</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <mat-form-field>
          <div>
            <mat-label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company Name</mat-label>
            <input matInput MatFormFieldControl
                   formControlName="name"
                   type="text" id="name"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="John">
          </div>
        </mat-form-field>
        <mat-form-field>
          <div>
            <mat-label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company Address</mat-label>
            <input matInput MatFormFieldControl type="text" id="address"
                    formControlName="address"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Flowbite">
          </div>
        </mat-form-field>
        <mat-form-field>
          <div class="mb-6">
            <mat-label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
              address
            </mat-label>
            <input type="email" id="email" matInput MatFormFieldControl
                    formControlName="email"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="john.doe@company.com" required>
          </div>
        </mat-form-field>
        <mat-form-field>
          <div class="mb-6">
            <mat-label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password
            </mat-label>
            <input matInput MatFormFieldControl type="password" id="password"
                    formControlName="password"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="•••••••••" required>
          </div>
        </mat-form-field>
        <mat-form-field>
          <div class="mb-6">
            <mat-label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              City
            </mat-label>
            <input type="text" id="city" matInput MatFormFieldControl
                    formControlName="city"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="City" required>
          </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Upload
            file</mat-label>
          <input (change)="onFileChange($event)"
                 formControlName="logo"
                 class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                 id="file_input" type="file">
        </mat-form-field>
        <mat-form-field>
          <div>
            <mat-label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone number</mat-label>
            <input matInput MatFormFieldControl type="tel" id="phone"
                   formControlName="phone"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
          </div>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="saveForm()">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
